@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

/*html {
   max-width: 100%;
}*/

body {

    font-family: montserrat, arial, verdana;
    background-image: url('/snoform/template/images/svetlyj-fon.jpg');
    background-size: cover;
}
.row{
	margin-right: 0;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

div.error {
    text-align: left;
    margin: -6px 0 5px 0;
    color: #800000;
}

span.req, strong{
	font-weight: 600;
}

span.req{
    color: #f92020;
}

div.titleBlock{
	text-align: left;
	margin: 18px 0 -5px 0;
}

div.left{
    text-align: left;
}

.errorBlock{
	border: solid #800000 1px !important;
}

#msform fieldset {
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    /*margin: 0 10% 50px 10%;*/
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #666;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform .contentF {
    background: #efefef;
    border: solid #dedddb 3px;
    border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input[type=text], #msform input[type=email], #msform input[type=file], #msform textarea, #msform select {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin: 7px 0;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 14px;
}
#msform #fullNameUniver1, #msform #otherFac1, #msform #fullNameUniver2, #msform #otherFac2{
    width: 70%;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
/*    border: 1px solid #ee0979;*/
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #2a9fba;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	background: #3366ff;
	transition: all .7s;
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;*/
}

#msform .action-button-previous {
    width: 100px;
    background: #ba8ec1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    background: #440e62;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 39px;
    display: block;
    font-size: 14px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 18px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #3ab54a;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

footer {
/*    height: 5%;*/
    margin-top: 30px;
    background-color: #3366ff;
    color: #fff;
    /*margin: 0.3% -0.6% -10% -0.6%;*/
    overflow: hidden;
    text-align: center;
    font-size: 19px;
    padding: 5px 0;
}

input[type=file], input[type=radio], select{
    cursor: pointer;
}
div.marg{
    margin-bottom: 20px;
}
div.left label{
    font-weight: 300;
    cursor: pointer;
}
.hint{
    color: #ff0000;
}

